@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('/fonts/IBMPlexSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --primary-text-color: #333;
  --secondary-text-color: #666;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--primary-color);
  /* background-color: var(--secondary-color); */
  margin: 0;
  padding: 0;
}
